.set-dates{
  width: 85px;
height: 20px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

text-align: center;
font-feature-settings: 'liga' off;

/* Dark */

color: #1E1E1E;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.calander-logo{
  /* calendar-2 */


width: 20px;
height: 20px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.chooseTime{
  /* Filter not seleected */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 6px 12px;
gap: 8px;

width: 137px;
height: 32px;

/* Snow */

background: #FFFFFF;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}