.time-content{
  /* Frame 1321314781 */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 448px;

width: 797px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.time{
  /* Filter bar */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;

width: 813px;

/* Gray 6 */

border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}