.info{
  /* Frame 1321314797 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 1135px;
height: 958px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}