.weekText{
  /* This week */


width: 67px;
height: 20px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

text-align: center;
font-feature-settings: 'liga' off;

/* Snow */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.setWeek{
  /* Filter */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 6px 12px;
gap: 8px;

width: 91px;
height: 32px;

/* Purple */

background: #793EF5;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.monthText{
  width: 76px;
height: 20px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

text-align: center;
font-feature-settings: 'liga' off;

/* Dark */

color: #1E1E1E;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.setMonth{
  width: 76px;
height: 20px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

text-align: center;
font-feature-settings: 'liga' off;

/* Dark */

color: #1E1E1E;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.setTime{
  /* Frame 1321314780 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 203px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
