.box-num{
  /* 4 */


width: 13px;
height: 24px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

text-align: center;
font-feature-settings: 'liga' off;

/* Text/Text - 01 */

color: #2F3031;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}
.box-title{
  /* Sourced */


width: 57px;
height: 16px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

text-align: center;
font-feature-settings: 'liga' off;

/* Text/Text - 01 */

color: #2F3031;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.box{
  /* Row */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

gap: 8px;

width: 157.57px;
height: 80px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}
.both-box{
  display:flex;
  flex-direction: row;
}