.view-insights p{
  /* View Insights */


  width: 77px;
  height: 20px;

  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;
  font-feature-settings: 'liga' off;

  /* Snow */

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.view-insights{
  /* Filter */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;

  width: 101px;
  height: 32px;

  /* Purple */

  background: #793EF5;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.view-canidates p{
  /* View Candidates */


width: 96px;
height: 20px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */

text-align: center;
font-feature-settings: 'liga' off;

/* Purple */

color: #793EF5;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.view-canidates{
  /* Filter */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 6px 12px;
gap: 8px;

width: 120px;
height: 32px;

/* Snow */

background: #FFFFFF;
/* Purple */

border: 1px solid #793EF5;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
 img{
  /* more-2 */


width: 28px;
height: 28px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
 }
 .job-status{
  /* Frame 1321314791 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 273px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
 }