.boxes{
  /* Frame 1321314787 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 1133px;
height: 80px;

background: #F6F5F9;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.bar{
  /* Vector 10 */


width: 0px;
height: 70px;

opacity: 0.2;
border: 1px solid #000000;

/* Inside auto layout */

flex: none;
order: 3;
flex-grow: 0;
}
